*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.figma1{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #faf5c7;
}
a{
    text-decoration: none;
}
.lear{
    font-size: 32px;
    font-weight: 700;
    color: #000;
}
.lear span{
    color: #FF7132;
}
.figma1 nav a{
    margin-right: 64px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.sig{
    padding: 5px;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #faf5c7;
    background-color: #FF7132;
    border-radius: 24px;
}
.sig:hover{
    border: 1px solid #FF7132;
    color: #000;
    background-color: #faf5c7;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #faf5c7;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.sign i{
    margin-right: 20px;
}

.figma2{
    display: flex;
    padding: 100px 50px;
    background-color: #faf5c7;
}
.virtual{
    width: 50%;
}
.virtual h2{
    font-size: 64px;
    font-weight: 700;
    margin: 40px 0;
}
.academy{
    color: #FF7132;
    text-decoration: underline #f0fcfa;
}
.learning{
    color: #7B5896;
    text-decoration: underline #f0fcfa;
}
.virtual h3{
    color: #7B5896;
    margin-bottom: 40px;
}
.lifelong{
    opacity: 0.5;
    margin-bottom: 50px;
}
.lifelong:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
}
.star{
    padding: 8px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #7B5896;
    color: #fff;
    background-color: #7B5896;
    border-radius: 24px;
}
.started{
    display: inline;
    margin-left: 20px;
    color: #7B5896;
    font-weight: 600;
    font-size: 14px;
}
.virtual1{
    width: 70%;
    margin-top: 50px;
}
.virtual nav{
    color: #FF7132;
    gap: 20px;
    margin-top: 80px;
    font-size: 30px;
}

.figma3{
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: #fff;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}
.figma3:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.3s ease-in-out;
}
.hour{
    display: flex;
    align-items: center;
}
.hour nav{
    margin-left: 15px;
}
.fa-tv{
    color: #30B338;
    font-size: 35px;
}
.fa-fire-flame-simple{
    color: #FF7132;
    font-size: 35px;
}
.fa-broom{
    color: #EF516C;
    font-size: 35px;
}
.hour nav span{
    font-size: 25px;
    font-weight: 700;
}

.figma4{
    margin: 100px 50px;
}
.figma4 h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.design1{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.design{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #faf5c7;
    background-color: #FF7132;
    border-radius: 10px;
    gap: 10px;
}
.design:hover{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FFE6DA;
    color: #000;
    background-color: #FFE6DA;
    border-radius: 10px;
    gap: 10px;
}
.adven{
    display: flex;
    justify-content: space-between;
}
.advanced{
    width: 400px;
    height: 500px;
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.advanced:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.wide{
    text-align: center;
}
.wide2{
    display: inline;
    align-items: center;
    color: #7B5896;
    font-size: 22px;
    font-weight: 700;
    margin-left: 240px;
}
.advanced h3{
    font-size: 22px;
    font-weight: 700;
    margin: 30px 15px;
}
.user{
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}
.user span{
    font-weight: 800;
    font-size: 14px;
}
.enroll{
    width: 95%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    border-radius: 8px;
    border: #FF7132;
    background-color: #FF7132;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.fa-solid .fa-angle-down {
    margin-left: 40px;
}

.figma5{
    display: flex;
    margin: 30px 0;
    padding: 30px;
    background-color: #faf5c7;
}
.mode{
    width: 50%;
}
.about-us{
    width: 50%;
    margin: 0 100px;
}
.about p{
    font-size: 24px;
    font-weight: 700;
    color: #FF7132;
}
.about h3{
    font-size: 45px;
    font-weight: 700;
    margin: 30px 0;
}
.scheduling{
    display: flex;
    margin-bottom:  25px;
    width: 80%;
}
.designed{
    margin-left: 15px;
}
.designed h3{
    font-size: 24px;
    font-weight: 700;
}
.designed p{
    opacity: 0.5;
}
.designed p:hover{
    opacity: 1;
}
.getstar{
    padding: 10px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #fff;
    background-color: #FF7132;
    border-radius: 24px;
    margin-top: 15px;
}









