*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.figma1{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #faf5c7;
}
.fa-bars{
    display: none;
}
a{
    text-decoration: none;
}
.lear{
    font-size: 32px;
    font-weight: 700;
    color: #000;
}
.lear span{
    color: #FF7132;
}
.figma1 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 450px;
}
.figma1 li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
ul .fa-angle-down{
    color: #727171;
}
.sig{
    padding: 5px;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #faf5c7;
    background-color: #FF7132;
    border-radius: 24px;
}
.sig:hover{
    border: 1px solid #FF7132;
    color: #000;
    background-color: #faf5c7;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #faf5c7;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.sign i{
    margin-right: 20px;
}

.figma2{
    display: flex;
    padding: 100px 50px;
    background-color: #faf5c7;
}
.virtual{
    width: 700px;
}
.welcom{
    display: flex;
    width: 160px;
    padding: 3px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #fff;
}
.welcom p{
    color: #dfd9d9;
}
.point{
    border-radius: 100%;
    width: 5px;
    height: 5px;
    margin: 8px;
    background-color: #dfd9d9;
}
.virtual h2{
    font-size: 64px;
    font-weight: 700;
    margin: 40px 0;
}
.academy{
    color: #FF7132;
    text-decoration: underline #f0fcfa;
}
.learning{
    color: #7B5896;
    text-decoration: underline #f0fcfa;
}
.virtual h3{
    color: #7B5896;
    margin-bottom: 40px;
}
.lifelong{
    opacity: 0.5;
    margin-bottom: 50px;
}
.lifelong:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
}
.star{
    padding: 8px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #7B5896;
    color: #fff;
    background-color: #7B5896;
    border-radius: 24px;
}
.star:hover{
    background-color: #fff;
    color: #7B5896;
}
.started{
    display: inline;
    margin-left: 20px;
    color: #7B5896;
    font-weight: 600;
    font-size: 14px;
}
.virtual1{
    width: 70%;
    margin-top: 50px;
}
.virtual nav{
    color: #FF7132;
    gap: 20px;
    margin-top: 80px;
    font-size: 30px;
}

.figma3{
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: #fff;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    z-index: 1;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.figma3:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 0.3s ease-in-out;
}
.hour{
    display: flex;
    align-items: center;
}
.hour nav{
    margin-left: 15px;
}
.fa-tv{
    color: #30B338;
    font-size: 35px;
}
.fa-fire-flame-simple{
    color: #FF7132;
    font-size: 35px;
}
.fa-broom{
    color: #EF516C;
    font-size: 35px;
}
.hour nav span{
    font-size: 25px;
    font-weight: 700;
}

.figma4{
    margin: 100px 50px;
}
.figma4 h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.design1{
    display: flex;
    justify-content: space-between;
}
.design{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #faf5c7;
    background-color: #FF7132;
    border-radius: 10px;
    gap: 10px;
    margin-top: 30px;
}
.design:hover{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 130px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FFE6DA;
    background-color: #FFE6DA;
    border-radius: 10px;
    gap: 10px;
}
.design:hover p{
    color: #000;
}
.design:hover i{
    color: #FF7132;
}
.adven{
    display: flex;
    justify-content: space-between;
}
.advanced{
    width: 400px;
    height: 500px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rectangle{
    width: 400px;
}
.advanced:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.wide{
    text-align: center;
}
.welcom-point{
    display: flex;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fad0b4;
    background-color: #fad0b4;
    margin-left: 10px;
}
.welcom-point:hover{
    background-color: #fcfae9;
    border: 1px solid #fcfae9;
}
.welcom-point .point{
    background-color: #EF516C;
}
.wide2{
    display: inline;
    color: #7B5896;
    font-size: 22px;
    font-weight: 700;
    margin-left: 240px;
}
.advanced h3{
    font-size: 22px;
    font-weight: 700;
    margin: 30px 15px;
}
.user{
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}
.user span{
    font-weight: 800;
    font-size: 14px;
}
.enroll{
    display: none;
    width: 95%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    border-radius: 8px;
    border: #FF7132;
    background-color: #FF7132;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.adven:hover  .enroll{
    display: block;
}
.fa-solid-down {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #c0bebe;
    background-color: #c0bebe;
}
.fa-angle-down{
    color: #fff;
}

.figma5{
    display: flex;
    margin: 30px 0;
    padding: 30px;
    background-color: #faf5c7;
}
.mode{
    width: 50%;
}
.about-us{
    width: 31%;
    margin: 0 100px;
}
.about p{
    font-size: 24px;
    font-weight: 700;
    color: #FF7132;
}
.about h3{
    font-size: 45px;
    font-weight: 700;
    margin: 30px 0;
}
.scheduling{
    display: flex;
    margin-bottom:  25px;
    width: 80%;
}
.designed{
    margin-left: 15px;
}
.designed h3{
    font-size: 24px;
    font-weight: 700;
}
.designed p{
    opacity: 0.5;
}
.designed p:hover{
    opacity: 1;
}
.getstar{
    padding: 10px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #FF7132;
    color: #fff;
    background-color: #FF7132;
    border-radius: 24px;
    margin-top: 15px;
}
.getstar:hover{
    background-color: #FFE6DA;
    color: #FF7132;
}

.figma6{
    margin: 100px 0;
}
.figma6 .pric{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.monthly{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
.monthly p{
    font-size: 16px;
    font-weight: 500;
}
.year{
    border: 1px solid #000;
    background-color: #000;
    width: 60px;
    padding: 3px;
    border-radius: 15px;
    margin: 0 30px;
}
.year1{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #4ADB61;
    margin-left: 45px;
}
.basic1{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.basic{
    width: 300px;
    height: 350px;
    border: 1px solid #FF7132;
    border-radius: 16px;
    margin: 50px;
    padding: 20px 30px;
    background-color: #FF7132;
}
.basic:hover{
    box-shadow: 0px -2px 26px 4px rgba(244, 154, 9, 0.6);
}
.basic1 h4{
    font-size: 24px;
    font-weight: 700;
}
.basic h3{
    font-size: 36px;
    font-weight: 700;
    margin: 25px 0;
}
.basic p{
    font-size: 16px;
    margin-bottom: 15px;
}
.the{
    display: flex;
}
.the p{
    margin-left: 10px;
}
.basic button{
    padding: 8px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    border-radius: 14px;
    margin-top: 25px;
}
.basic button:hover{
    color: #fff;
    background-color: #fac19b;
    transition: all 0.3s ease-in-out;
}
.basic.stan button:hover{
    color: #fff;
    background-color: #f58585;
    transition: all 0.5s ease-in-out;
}
.basic.ultime button:hover{
    color: #fff;
    background-color: #9ef396;
    transition: all 0.3s ease-in-out;
}
.basic span{
    font-size: 16px;
}
.starte{
    width: 300px;
    height: 350px;
    border: 1px solid #FF7132;
    border-radius: 16px;
    margin: 50px;
    padding: 20px 30px;
    background-color: #EF516C;
}
.basic.stan{
    background-color: #EF516C;
}
.basic.stan:hover{
    box-shadow: 0px -2px 26px 1px rgba(219, 5, 137, 0.6);
}
.basic.ultime{
    background-color: #30B338;
    border: 1px solid #30B338;
}
.basic.ultime:hover{
    box-shadow: 0px 1px 26px 11px rgba(5, 219, 49, 0.6);
}

.figma{
    background-color: #faf5c7;
    padding: 10px;
}

.figma7{
    width: 86%;
    height: 200px;
    border-radius: 50px;
    border: 1px solid #7B5896;
    text-align: center;
    margin: 50px 60px;
    background-color: #7B5896;
    color: #fff;
    padding: 40px;
}
.figma7 h3{
    font-size: 36px;
    font-weight: 700;
}
.figma7 p{
    font-size: 20px;
    margin: 30px 0;
}
.emaile{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 300px;
    border-radius: 100px;
    background-color: #fff;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #7B5896;
    margin-left: 100px;
}
.get-star{
    border-radius: 100px;
    background-color: #7B5896;
    color: #fff;
    padding: 10px;
}
.but{
    margin-left: 337px;
}

.figma8{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 20px 50px;
}
.figma8 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 450px;
}
.figma8 li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.facebook i{
    margin-right: 10px;
    font-size: 25px;
    color: #7B5896;
}
.fa-square-youtube:hover{
    color: #fc0404;
}
.fa-square-twitter:hover{
    color: #3eaee2;
}
.fa-square-facebook:hover{
    color: #144afc;
}
.rights{
    color: #aaaaaa;
    text-align: center;
    margin: 10px;
}



@media screen and (max-width: 1200px){
    .advanced.wordprees2{
        display: none;
    }
    .adven{
        margin: 0 100px;
    }
}
@media screen and (max-width: 992px){
    .figma1 ul{
        width: 367px;
    }
    .design{
        width: 105px;
    }
    .adven {
        margin: 0 17px;
    }
    .mode {
        display: none;
    }
    .about-us {
        width: 46%;
    }
    .basic {
        height: 386px;
    }
    .figma7{
        margin: 50px 32px;
    }
    .but {
        margin-left: 19%;
    }
}
@media screen and (max-width:768px){
    .fa-bars{
        display: block;
        font-size: 31px;
        margin-right: 10px;
    }
    .figma1 ul{
        display: none;
    }
    .fa-lock{
        display: none;
    }
    .virtual1{
        display: none;
    }
    .virtual{
        width: 616px;
    }
    .design1 {
        flex-wrap: wrap;
    }
    .design{
        padding: 17px;
        width: 216px;
    }
}
@media screen and (max-width:576px){
    
}










